.hero
{
	height: 100px;
	height: 100vh;
	width: 100%;
	width: 100vw;
	background:red;
}
.hero .fixed-background
{
	background:url(../img/hero.jpeg);
	background-size:cover;
	background-position: fixed;
}
body
{
	height:1000vh;
}

.hero.parallax-container
{
	background:none;
}