---
layout: default
---
<div class="section no-pad-bot no-pad-top" id="index-banner">
	<div class="slider home-slider">
		<ul class="slides">
			<li>
				<img src="{% if page.heroimg %}{{page.heroimg}}{% else %}/assets/img/hero.jpg{% endif %}" />
				<div class="caption center-align {% if page.captionclass %}{{page.captionclass}}{% endif %}">
					{% if page.hero-title %}<h3>{{ page.hero-title }}</h3>{% endif %}
					{% if page.hero-caption %}<h5>{{ page.hero-caption }}</h5>{% endif %}
				</div>
			</li>
		</ul>
	</div>
</div>
{{content}}